@font-face {
  font-family: Fira Sans;
  font-weight: 400;
  src: url(../fonts/firasans-regular.otf);
}
@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/firasans-italic.otf);
}
@font-face {
  font-family: Fira Sans;
  font-weight: 300;
  src: url(../fonts/firasans-light.otf);
}
@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/firasans-lightitalic.otf);
}
@font-face {
  font-family: Fira Sans;
  font-weight: 700;
  src: url(../fonts/firasans-bold.otf);
}

@page {
  @bottom-left {
    background: #EE1F26;
    content: counter(page);
    color: white;
    height: .7cm;
    text-align: center;
    width: .7cm;
  }
  @bottom-center {
    background: #EE1F26;
    content: '';
    display: block;
    height: .015cm;
    opacity: 1;
    width: 100%;
  }
  @bottom-right {
    content: string(heading);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }
}
@page :blank {
  @top-left { background: none; content: '' }
  @top-center { content: none }
  @top-right { content: none }
}
@page no-chapter {
  @top-left { background: none; content: none }
  @top-center { content: none }
  @top-right { content: none }
}
@page :first {
  counter-reset: page 0;
  @bottom-left { background: none; content: none }
  @bottom-center { content: none }
  @bottom-right { content: none }
}
@page chapter {
  margin: 0;
  @top-left { content: none }
  @top-center { content: none }
  @top-right { content: none }
}

html {
  color: black;
  font-family: Fira Sans;
  font-size: 9pt;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  color: #EE1F26;
  font-size: 38pt;
  margin: 5cm 2cm 0 2cm;
  page: no-chapter;
  width: 100%;
}
h2, h3, h4 {
  color: black;
  font-weight: 400;
}
h2 {
  break-before: avoid;
  font-size: 28pt;
  string-set: heading content();
}
h3 {
  font-weight: 300;
  font-size: 15pt;
}
h4 {
  font-size: 13pt;
}
#main section {
  columns: 1;
  column-gap: 1cm;
  padding-top: 0cm;
}
#main section p {
  text-align: justify;
}
#main section p:first-of-type {
  font-weight: 700;
}

#links h3 {
  margin: 0 -3cm 1cm;
  padding: 0 0 0 3cm;
  width: 21cm;
}
#links section {
  padding: 0 0;
}
#links section h4 {
  margin: 0;
}
#links section p {
  margin-top: 0;
}
#links ul {
  list-style: none;
  padding: 0px;
}
img {
  border: 0;
  margin: 0 auto;
  max-width: 30mm;
}