<html>
  <head>
    <meta charset="utf-8">
    <link href="assets/css/styles.css" rel="stylesheet">
    <title>Vereinbarung Bildrechte Hersteller</title>
    <meta name="description" content="Media assets copyright request">
  </head>
  <body>
    <article id="main">
    <img src="assets/img/bahag_logo.png" />
      <h2 id="main-title">Vereinbarung</h2>
      <h3>über die Einräumung von Nutzungsrechten zu Vertriebszwecken</h3>
      <section>
        <p>
          Die BAHAG AG Belp (Schweiz) Zweigniederlassung Mannheim (im Folgenden „Lizenznehmer“)
          bezieht von Zwischenhändlern Waren des Herstellers, die unter Verwendung von herstellerseitig
          zur Verfügung gestellten Abbildungen beworben werden sollen.
        </p>
        <p>
          Der Hersteller räumt dem Lizenznehmer unentgeltlich das zeitlich, räumlich und inhaltlich
          unbeschränkte unwiderrufliche Recht ein, die in der als Anlage 1 beigefügten Auflistung enthaltenen Fotos, Videos oder sonstigen Medien
          in sämtlichen Werbemedien nach obiger Zweckbestimmung zu verwenden, zu vervielfältigen, zu verbreiten, öffentlich wiederzugeben
          und öffentlich zugänglich zu machen.
        </p>
        <p>
          Das eingeräumte Recht erstreckt sich auch auf noch unbekannte Nutzungsarten. Die Fotos, Videos oder sonstigen Medien dürfen
          in einer nichtöffentlichen Datenbank gespeichert und zweckendsprechend verändert, insbesondere skaliert, farblich angepasst oder ausschnittsweise
          verwendet werden. Der Lizenznehmer darf die ihm in dieser Vereinbarung eingeräumten Nutzungsrechte auf sämtliche von ihm belieferten
          BAUHAUS-Gesellschaften (www.bauhaus.eu/companies) sowie die mit diesen gemäß § 15 AktG verbundenen Gesellschaften als Unterlizenznehmer übertragen.
        </p>
        <p>
          Der Hersteller garantiert, alleiniger Urheber bzw. Inhaber der Nutzungsrechte der in beigefügter Auflistung enthaltenen Fotos, Videos
          oder sonstiger Medien zu sein. Der Hersteller garantiert außerdem, dass durch die Verwendung der Fotos, Videos und sonstigen Medien keine
          Persönlichkeitsrechte Dritter verletzt werden, insbesondere, dass etwaige auf den zur Verfügung gestellten Fotos abgebildete Personen mit der
          vertragsgegenständlichen Nutzung einverstanden sind. Er stellt den Lizenznehmer und dessen Unterlizenznehmer von Ansprüchen Dritter frei,
          die aufgrund der Verletzung von Urheber- bzw. Nutzungsrechten oder Persönlichkeitsrechten an den in beigefügter Auflistung enthaltenen Fotos,
          Videos oder sonstigen Medien gegen den Lizenznehmer oder dessen Unterlizenznehmer geltend gemacht werden. Die Freistellung umfasst auch den Ersatz
          der Kosten, die durch eine Rechtsverfolgung bzw. Rechtsverteidigung entstehen. 
        </p>
        <p>
          Die als Anlage 1 beigefügte Auflistung im Umfang von {{ pages_count }} Seiten, welche insgesamt {{ assets_count }} Fotos/Videos/sonstige Medien enthält, sind Bestandteil dieser Vereinbarung. 
          Diese Vereinbarung unterliegt dem Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts.
        </p>
        <p>
          Gerichtsstand für alle Streitigkeiten aus dieser Vereinbarung
          ist das Landgericht Mannheim, soweit nicht das Gesetz zwingend etwas anderes vorschreibt.            
        </p>
      <br>
      <br>
        <p>
            __________________	_______________________________________
        </p>
        <p>
        <pre>Ort, Datum                  Hersteller</pre>
        </p>
        <br>
        <p>
            __________________	_______________________________________
        </p>
        <p>
        <pre>Ort, Datum                  Lizenznehmer</pre>
        </p>
    </section>
        </article>
    <article id="links">
      <h2 id="links-title" style="break-before: always;">Anlage 1</h2>
      <h3>Links zu den angeforderten Medienobjekten</h3>
      <section>
            {% for item in links %}
                <p><li>{{ item }}</li></p>
            {% endfor %}
      </section>
    </article>
  </body>
</html>
